<div  class="wide__ left_auto right_auto mediumfont">
<table class="general wide center top_5 left_auto right_auto" style="height:85%;">

<tr><td id="chart_period_num" colspan="4" class="actions dimmed general mediumfont border" style="padding: 10px;">-</td></tr>
<tr>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '1')"> 1 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '2')"> 2 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '3')"> 3 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', 'H')"> H </button></td>
</tr>
<tr>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '4')"> 4 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '5')"> 5 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '6')"> 6 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', 'D')"> D </button></td>
</tr>
<tr>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '7')"> 7 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '8')"> 8 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '9')"> 9 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', 'W')"> W </button></td>
</tr>
<tr>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', 'C')"> C </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '0')"> 0 </button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont"></button></td>
    <td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', 'M')"> M </button></td>
</tr>
<!--<tr><td colspan="4"><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="update_chart('{{ data['id'] }}', '1')"> OK </button>
</td></tr>-->
<tr><td colspan="4"><button style="height:100%;width:35%;" class="submenu dimmed general mediumfont" onclick="closesmallpopup()"> Close </button></td></tr>
</table></div>
