<div  class="wide__ left_auto right_auto mediumfont">
<table class="general wide center top_5 left_auto right_auto" style="height:85%;">
<tr><td><input id="color" name="Color Picker" type="color" style="width=90px; height=50px;" value="{{ data['state'] }}"/></td></tr>
<tr><td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="item_colorpicker_action('{{ data['id'] }}','SET')"> SET </button>
</td></tr>
<!--<tr><td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="item_colorpicker_action('{{ data['id'] }}','ON')"> ON </button>
</td></tr>-->
<tr><td><button style="height:90%;width:100%;" class="actions dimmed submenu general mediumfont" onclick="item_colorpicker_action('{{ data['id'] }}','OFF')"> OFF </button>
</td></tr>
<tr><td><button style="height:100%;width:35%;" class="submenu dimmed general mediumfont" onclick="closesmallpopup()"> Close </button></td></tr>
</table></div>
