<div  class="wide__ left_10 smallfont"><h2> Message </h2>
<table class="general" style="font-size: 1.4vw;font-style: italic;"> 
<tr><td><p>From:</p></td><td><p>{{ data["from"] }}</p></td></tr>
<tr><td><p>Subject:&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p>{{ data["subject"] }}</p></td></tr>
<tr><td><p>Time:</p></td><td><p>{{ data["time"] }}</p></td></tr>
</table>
<!--<p><i>Time: {{ data["time"] }}</i></p>
<p><i>From: {{ data["from"] }}</i></p>
<p><i>Subject: {{ data["subject"] }}</i></p>-->
<p class="xmediumfont"> {{ data["message"] }}</p></div>
<div class="right wide bottomxtra text_center">
<button style="height:100%;width:21%;" class="submenu dimmed general smallfont" onclick="deletemessage_popup('{{ data['id'] }}')" id="setpframe"> Delete </button>
&nbsp;
<button style="height:100%;width:21%;" class="submenu dimmed general smallfont" onclick="closemessage('{{ data['id'] }}')" id="setpframe"> Close </button>
{% if data['n_unread'] > 1 %}
&nbsp;
<button style="height:100%;width:40%;" class="submenu dimmed general smallfont" onclick="closeallmessages('{{ data['id'] }}')" id="setpframe"> 
	Close all ({{ data['n_unread'] }} new) 
</button>
{% endif %}
</div>
