<div id="left_60" class="left_3 top_low xxmedium box_full">

</div>
<div id="right_half" class="top_lower box_full right_6 xsmall">
<table class="text_center wide smallfont left_10 center">
<tr><td colspan="2">Weather Small popup</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2"><button class="general dimmed submenu mediumfont" style="margin: 10px;">Select period</button><br></td></tr><tr>
<td colspan="2"><button class="general dimmed submenu mediumfont" style="margin: 10px;"	onclick="closepopup()">Close</button><br></td></tr><tr>
</tr></table>
</div>
