<!-- widget
    Name=media/
    Rows=3/
-->	
<table style="width: 90%;" class="xsmallfont left_5">
<tr><td colspan="2">
    <button class="general_nob xwide dimmed" onclick="frontpage_action('{{data['pagename']}}', 's_media')">
    <table style="height:100%;width:100%;">
    <tr>
        <td colspan="2" class="largefont" style="margin-bottom: 10px;">
            {{ data['media_state']['state'] }}
        </td>
    </tr>
    <tr>	
        <td style="width: 30%;" class="xsmallfont" rowspan="3"> 
            <p><img src="{{ data['image_url']['state'] }}" style="max-width:90%; max-height: 180px;" /></p>
        </td>
        {% if data['title']['state_length'] < 18 %}
        <td style="width: 70%;" class="mediumfont"> 
            {{ data['title']['state'] }}
        </td>
        {% else %}
        <td style="width: 70%;" class="smallfont"> 
            {{ data['title']['state'] }}
        </td>
        {% endif %}
    </tr>
    <tr>
        <td style="width: 70%;" class="xsmallfont"> 
            {{ data['artist']['state'] }}
        </td>
    </tr>
    <tr>
        <td style="width: 70%;" class="xxsmallfont"> 
            <div id="mediastarttime" style="display:none;">{{ data['starttime']['state'] }}</div>
            <div id="mediaendtime" style="display:none;">{{ data['endtime']['state'] }}</div>
            <div id="mediaplaying" style="display:none;">{{ data['player']['state'] }}</div>
            <div id="medialastchecked" style="display:none;">{{ data['time']['now'] }}</div>
            <div id="mediaprogress">{{ data['progress'] }}</div>
        </td>
    </tr>
    </table>
    </button>
</td></tr>
<tr>
    <td colspan="2">
        <table style="width: 90%; margin-top: 10px;" class="largefont left_5">
            <tr>
                <td style="width:25%;">
                    <button class="general xwide dimmed" onclick="item_media_action('{{ data['player']['id'] }}', 'cmd', 'PREVIOUS')">
                        <table style="height:100%;width:100%;" class="text_center"><tr>
                        <td style="padding: 3px;"><<</td>
                        </tr></table>
                    </button>
                </td>
                <td style="width:25%;">
                    <button class="general xwide dimmed" onclick="item_media_action('{{ data['player']['id'] }}', 'cmd', 'PAUSE')">
                        <table style="height:100%;width:100%;" class="text_center"><tr>
                        <td style="padding: 3px;">||</td>
                        </tr></table>
                    </button>
                </td>
                <td style="width:25%;">
                    <button class="general xwide dimmed" onclick="item_media_action('{{ data['player']['id'] }}', 'cmd', 'PLAY')">
                        <table style="height:100%;width:100%;" class="text_center"><tr>
                        <td style="padding: 3px;">></td>
                        </tr></table>
                    </button>
                </td>
                <td style="width:25%;">
                    <button class="general xwide dimmed" onclick="item_media_action('{{ data['player']['id'] }}', 'cmd', 'NEXT')">
                        <table style="height:100%;width:100%;" class="text_center"><tr>
                        <td style="padding: 3px;">>></td>
                        </tr></table>
                    </button>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
