<div class="wide top_lower box_full_1" style="margin-left:2%; margin-top:1%;">
		<div class="time xxXlargefont dimmed" style="width:100%; height:100%; text-align:center;"></div>
</div>

<div class="bottomclk leftclk medium"><div class="image_return"><table class="general left"><tr>
<td><button class="noborder dimmed" style="width:100px;height:100px;" onclick="reload_main_div('/maindiv')">
<img src="http://192.168.1.6:8080/icon/black.png" alt="" height="100" width="100"></button></td></tr></table></div>
