
<script src="/js/moment-with-locales.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/messages.js"></script>
<script src="/js/screen_clock_date.js"></script>
<script src="/js/event_checker.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/item_action.js"></script>
<script src="/js/album.js"></script>
<script src="/js/md5.js"></script>
<script>
	reload_main_div("/maindiv");
</script>
<!--<script src="/js/main.js?nocache=ea6ec0a12515717bbb9a26af751b7e62"></script>-->



</body>
</html>
