	</div>


	<div class="bottomclk left medium"><div class="image_return">
	<table class="general left"><tr>
		
		<td><button class="noborder dimmed" style="width:65px;height:55px;" onclick="window.location.href='settings'"><img src="http://192.168.1.6:8080/icon/settings.png" alt="" height="25" width="25"></button></td>
		<td><button class="noborder dimmed" style="width:65px;height:55px;" onclick="window.location.href='messages'"><img src="http://192.168.1.6:8080/icon/messages.png" alt="" height="25" width="25"></button></td></tr>
	</table>
		<!--<a href="index_menu.php?page=settings"><img src="pictures/settings.png" alt="" height="32" width="32"></a>	&nbsp;&nbsp;&nbsp;
		<a href="index_menu.php?page=messages"><img src="pictures/messages.png" alt="" height="32" width="32"></a>-->
	</div></div>