<!--<div class="wide right_5 left_auto right_auto top_xxlower">
    <table class="left_auto right_auto" style="text-align:center; vertical-align: middle;"><tr><td>
        {% if data['type_clock'] == 'digital' %}
            <div class="time xxXlargefont dimmed" style="width:100%; height:100%; text-align:center;"></div>
        {% else %}
            <!--<canvas id="canvas_analog_clock" style="width:100%; height:100%; background-color:#333">
            </canvas>
        {% endif %}
    </td></tr></table>
</div>-->

<div class="bottomclk leftclk medium"><div class="image_return"><table class="general left"><tr>
<td><button class="noborder dimmed" style="width:100px;height:100px;" onclick="reload_main_div('page/maindiv')">
<img src="{{ url_for('static', filename='pictures/black.png') }}" alt="" height="100" width="100"></button></td></tr></table></div>
