<div class="mediumfont left_5 text_left">{{ data["location"] }}</div>		
<table style="width: 100%;" class="xsmallfont left_0">
<tr>	
	<td style="width: 55%;" class="xsmallfont"> 
		<table class="xsmallfont fixed"><tr>
			<td>Condition:<br>Humidity:<br>Wind:<br>Sunrise:<br>Sunset:<br></td>
			<td class="xsmallfont"><strong>{{ data["cw"]["condition"] }}</strong>
			<br>{{ data["cw"]["humidity"] }}%<br>{{ data["cw"]["wind"] }}
			<br>{{ data["cw"]["sunrise"] }}<br>{{ data["cw"]["sunset"] }}</td>
		</tr></table>
	<td style="width: 30%;">
		<p><img src="/item/icon/weather-{{ data['cw']['n_condition'] }}.png" width="90%" /></p></td><td style="width: 10%;">{{ data["cw"]["temp_c"] }}&deg;C<br></td>
</tr>
</table>
<table style="width: 100%;" class="xsmallfont top_5 left_0"><tr>
	<td style="width: 33%;">{{ data["fw"][1]["day"] }}</td>
	<td style="width: 33%;">{{ data["fw"][2]["day"] }}</td>
	<td style="width: 33%;">{{ data["fw"][3]["day"] }}</td>
</tr>
<tr>
	<td style="width: 33%;"><img src="/item/icon/weather-{{ data['fw'][1]['n_condition'] }}.png" width="40%" /></td>
	<td style="width: 33%;"><img src="/item/icon/weather-{{ data['fw'][2]['n_condition'] }}.png" width="40%" /></td>
	<td style="width: 33%;"><img src="/item/icon/weather-{{ data['fw'][3]['n_condition'] }}.png" width="40%" /></td>
</tr>
<tr>
	<td style="width: 33%; text-align:center;">{{ data["fw"][1]["avg"] }}&deg;C / {{ data["fw"][1]["rain_mm"] }}</td>
	<td style="width: 33%; text-align:center;">{{ data["fw"][2]["avg"] }}&deg;C / {{ data["fw"][2]["rain_mm"] }}</td>
	<td style="width: 25%; text-align:center;">{{ data["fw"][3]["avg"] }}&deg;C / {{ data["fw"][3]["rain_mm"] }}</td>
</tr>
</table>
